<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/css/normalize.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>Shop a Lot</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://img.icons8.com/nolan/64/castle.png"
    />
  </head>
  <body>
    <header>
      <nav>
        <h3 class="navItem" id="pageTitle">Shop A Lot</h3>
        <p class="navItem">Hot Sales</p>
        <p class="navItem">Browse Categories</p>
        <div id="searchArea" class="navItem">
          <form action="" method="get">
            <input type="text" id="productSearch" name="productSearch" />
            <button type="submit">Search</button>
          </form>
        </div>
        <p class="navItem">Login</p>
        <p class="navItem">Backpack</p>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <a href="https://icons8.com/icon/MfxutvOVx8n4/castle">Castle icon by Icons8</a>
  </body>
</html>