<div class="backpackArea">
  <h1>Backpack</h1>
  <p>Purchase History</p>
  <div class="productList">
    <ul>
      {{#each items as |item|}}
        <li>{{item.product_name}}</li>
      {{/each}}
    </ul>
  </div>
</div>