<h1 class="cart">Your Cart</h1>
<div class="cartArea">
  <div class="itemDisplay"></div>
  <div class="priceDisplay">
    <p class="priceLine total subTotal">Subtotal: 0</p>
    <p class="priceLine">Delivery Fee: 0</p>
    <p class="priceLine">Taxes: 0</p>
    <p class="priceLine">Discount: 0</p>
    <p class="priceLine">Coupons: 0</p>
    <p class="priceLine total grandTotal">Grand Total: 0</p>
  </div>
</div>

<script src="/js/cartRender.js"></script>