{{#if loggedIn}}
  <div class="featuredArea">
    <div class="featuredProduct">
      <div class="cardtitle">
        <h3 class="cardTitleText">Featured for You</h3>
      </div>
      <div class="cardImg">
        <img src="./public/img/magic_potion.png" alt="A healing potion" />
      </div>
      <div class="cardBody">
        <p class="bodyText">Healing Potion</p>
      </div>
    </div>
    <div class="previousOrders">
      <div class="cardtitle">
        <h3 class="cardTitleText">Your Previous Order</h3>
      </div>
      <div class="cardImg">
        <img src="./public/img/magic_potion.png" alt="A healing potion" />
      </div>
      <div class="cardBody">
        <p class="bodyText">Placed 06/02/2021</p>
      </div>
    </div>
  </div>
{{/if}}