<div id="productAd">
  <img src="/img/magic_potion.png" alt="A purple healing potion" />
  <p>Healing Potions by Shop a Lot Basics</p>
  <img src="/img/magic_potion.png" alt="A purple healing potion" />
</div>
{{#if loggedIn}}
  <div class="featuredArea">
    <div class="featuredProduct">
      <div class="cardtitle">
        <h3 class="cardTitleText">Featured for You</h3>
      </div>
      <div class="cardImg">
        <img src="/img/magic_potion.png" alt="A healing potion" />
      </div>
      <div class="cardBody">
        <p class="bodyText">Healing Potion</p>
      </div>
    </div>
    <div class="previousOrders">
      <div class="cardtitle">
        <h3 class="cardTitleText">Your Previous Order</h3>
      </div>
      <div class="cardImg">
        <img src="/img/magic_potion.png" alt="A healing potion" />
      </div>
      <div class="cardBody">
        <p class="bodyText">Placed {{last_purchase}}</p>
      </div>
    </div>
  </div>
{{/if}}
<h2 class="categoryTitle">Categories</h2>
<div class="categories">
  <a href="/category/1" class="categoryCard">
    <div class="cardtitle">
      <h3 class="cardTitleText">Weapons</h3>
    </div>
    <div class="cardImg">
      <img src="/img/sword.png" alt="A healing potion" />
    </div>
    <div class="cardBody">
      <p class="bodyText">Poke Stab Slash Shoot!</p>
    </div>
  </a>
  <a href="/category/2" class="categoryCard">
    <div class="cardtitle">
      <h3 class="cardTitleText">Shields and Armor</h3>
    </div>
    <div class="cardImg">
      <img src="/img/shield.png" alt="A healing potion" />
    </div>
    <div class="cardBody">
      <p class="bodyText">Health Insurance not Included</p>
    </div>
  </a>
  <a href="/category/3" class="categoryCard">
    <div class="cardtitle">
      <h3 class="cardTitleText">Gear</h3>
    </div>
    <div class="cardImg">
      <img src="/img/rope.png" alt="A healing potion" />
    </div>
    <div class="cardBody">
      <p class="bodyText">Everything else AND the kitchen sink!</p>
    </div>
  </a>
</div>