<form>
  <label for="username">{{username}}</label><br />
  <input type="text" id="username" name="userName" /><br />
  <label for="password"> {{password}} </label><br />
  <input type="text" id="password" name="passWord" />
  <button type="submit">Login</button>
</form>