<head>
  <link rel="stylesheet" href="/css/user.css" />
</head>

<div class="loginRenderArea">
  <div>
    <h2 class="title">Login</h2>

    <form id="login-form" class="card">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input name="email-login" type="text" id="email-login" />
      </div>

      <div class="form-group">
        <label for="password-login">Password:</label>
        <input name="password-login" type="password" id="password-login" />
      </div>

      <div class="form-group">
        <button type="submit">login</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>