<div class="productArea">
  <h1 id="productTitle">Product Title</h1>
  <div class="productImageArea">
    <img src="./public/img/shield.png" alt="An image of a shield" />
  </div>
  <div class="productInfoArea">
    <h2>Product Area</h2>
    <p>Product Tag</p>
  </div>
  <div class="productDescArea">
    <p>Product description area</p>
  </div>
</div>