:root {
  --title-font: "Mate SC", serif;
  --text-font: "Open Sans", sans-serif;
  --light-purple: #947bd3;
  --lemon-meringue: #f9ecc8;
  --dark-purple: #352d4d;
  --dark-green: #6c756b;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 2vh 0;
  border-bottom: 2px solid var(--dark-purple);
  background-color: var(--dark-green);
  align-items: center;
}

.navItem {
  margin: 0 1.5vw;
  color: var(--lemon-meringue);
  font-size: 20px;
  font-family: var(--title-font);
}

#pageTitle {
  font-size: 25px;
}

nav form {
  margin: 0 14vw;
}

nav form input {
  width: 30vw;
}

main {
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
  background-color: var(--dark-green);
}

#productAd {
  width: 70%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 15%;
  margin-bottom: 5vh;
  font-size: 30px;
  font-family: var(--text-font);
  border: 2px solid var(--dark-purple);
  border-radius: 10px;
  background-color: var(--lemon-meringue);
  color: var(--dark-purple);
}

#productAd img {
  height: 90%;
  width: auto;
}

.featuredArea {
  margin-left: 20%;
  margin-top: 10vh;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featuredProduct,
.previousOrders {
  width: 25%;
  text-align: center;
  background-color: var(--lemon-meringue);
  border: 2px solid var(--dark-purple);
  border-radius: 10px;
}

.cardTitle,
.cardHeader {
  border-bottom: 1px solid var(--dark-purple);
}

.cardTitleText {
  color: var(--dark-purple);
  font-size: 30px;
  font-family: var(--title-font);
}

.cardImg img,
.cardBody img {
  height: auto;
  width: 80%;
}

.bodyText {
  font-family: var(--text-font);
  font-size: 20px;
}

.cardBody {
  border-top: 1px solid var(--dark-purple);
}

.categoryTitle {
  font-size: 40px;
  font-family: var(--title-font);
  text-align: center;
  margin-top: 3vh;
}

.categories {
  padding-top: 3vh;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categoryCard {
  width: 15%;
  background-color: var(--lemon-meringue);
  border: 2px solid var(--dark-purple);
  border-radius: 10px;
}

footer {
  background-color: var(--dark-green);
}

footer a {
  text-decoration: none;
  color: var(--dark-purple);
}

.productArea {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productImageArea {
  width: 50%;
  background-color: var(--lemon-meringue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-purple);
  border-radius: 20px;
  margin-right: 10vw;
}

.productImageArea img {
  width: 75%;
  height: auto;
}

.productInfoArea {
  width: 25%;
  background-color: var(--lemon-meringue);
  border: 2px solid var(--dark-purple);
  border-radius: 20px;
  padding: 2vh 2vw;
}

.productInfoArea h2 {
  font-family: var(--title-font);
}

.productDescArea {
  width: 90%;
  background-color: var(--lemon-meringue);
  border: 2px solid var(--dark-purple);
  border-radius: 20px;
  margin-top: 5vh;
  font-family: var(--text-font);
  padding: 2vh 2vw;
}

#productTitle {
  width: 100%;
  font-size: 40px;
  font-family: var(--title-font);
  color: var(--dark-purple);
  text-align: center;
  margin-bottom: 5vh;
}

.categoryList {
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.categoryList h1 {
  font-family: var(--title-font);
  font-size: 40px;
  margin-bottom: 5vh;
  padding-bottom: 3vh;
  border-bottom: 2px var(--dark-purple) solid;
  width: 80%;
  margin-left: 10%;
}

.productRenderArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  width: 15vw;
  background-color: var(--lemon-meringue);
  border-radius: 20px;
  border: 1px var(--dark-purple) solid;
  margin-bottom: 3vh;
  text-align: center;
}

.cardBody {
  width: 70%;
  margin-left: 15%;
}

.cardBody img {
  width: 100%;
  height: 200px;
}

.cardFooter {
  padding-bottom: 20px;
}

.backpackArea {
  background-color: var(--lemon-meringue);
  width: 60%;
  height: 800px;
  margin-left: 20%;
}

.backpackArea h1 {
  font-family: var(--title-font);
  font-size: 40px;
  text-align: center;
  padding-top: 3vh;
  width: 80%;
  margin-left: 10%;
}

.backpackArea p {
  font-family: var(--text-font);
  font-size: 20px;
  padding-bottom: 2vh;
  border-bottom: 2px solid var(--dark-purple);
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.productList {
  width: 100%;
  height: 100%;
}

.productList ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
}

.productList li {
  width: 30%;
  padding: 3vh 0;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
